.list {
  display: grid;
  box-sizing: border-box;
  border: 1px solid #efeeee;
  border-radius: 6px;
  padding: 32px;
  gap: 16px;
  justify-content: center;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 800px;
  min-width: 384px;
  overflow: auto;
}